* text=auto

*.java         text diff=java
*.kt           text diff=kotlin
*.groovy       text diff=java
*.gradle       text diff=java
*.gradle.kts   text diff=kotlin
*.md           text diff=markdown

*.sh           text eol=lf
*.bat          text eol=crlf

*.jpg         -text
*.png         -text
*.svg         -text

*.class        binary
*.jar          binary

.gitattributes export-ignore
.gitignore     export-ignore
