[versions]
asm = "9.5"      # https://asm.ow2.io/versions.html
mixin = "0.8.5"
kxSer = "1.5.1"
mappingsUtil = "0.1.3"
weaveInternals = "1.0.0-PRE2"

[libraries]
asm = { module = "org.ow2.asm:asm", version.ref = "asm" }
asmtree = { module = "org.ow2.asm:asm-tree", version.ref = "asm" }
asmcommons = { module = "org.ow2.asm:asm-commons", version.ref = "asm" }
asmutil = { module = "org.ow2.asm:asm-util", version.ref = "asm" }
mixin = { module = "org.spongepowered:mixin", version.ref = "mixin" }
kxSer = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kxSer" }
mappingsUtil = { module = "io.github.770grappenmaker:mappings-util", version.ref = "mappingsUtil" }
weaveInternals = { module = "net.weavemc:internals", version.ref = "weaveInternals" }
guava = { module = "com.google.guava:guava", version = "21.0" }
gson = { module = "com.google.code.gson:gson", version = "2.2.4" }

[bundles]
asm = ["asm", "asmtree", "asmcommons", "asmutil"]
mixin = ["guava", "gson", "mixin"]