[versions]
asm = "9.5"      # https://asm.ow2.io/versions.html
mixin = "0.8.5"
kxSer = "1.5.1"
mappingsUtil = "0.2.0"

[libraries]
asm = { module = "org.ow2.asm:asm", version.ref = "asm" }
asmtree = { module = "org.ow2.asm:asm-tree", version.ref = "asm" }
asmcommons = { module = "org.ow2.asm:asm-commons", version.ref = "asm" }
asmutil = { module = "org.ow2.asm:asm-util", version.ref = "asm" }
mixin = { module = "org.spongepowered:mixin", version.ref = "mixin" }
kxSer = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kxSer" }
mappingsUtil = { module = "com.grappenmaker:mappings-util", version.ref = "mappingsUtil" }

[bundles]
asm = ["asm", "asmtree", "asmcommons", "asmutil"]
